.header-content {
  width: 100%;
  height: 667px;
  margin: auto;
  // margin-bottom: 10px;
  // margin-top: 50px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  @include flexDisplay($justify: space-around);
  column-gap: 30px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("../../../public/headerBackground6.jpg");
  background-size: 100% 100%;
  // background-repeat: no-repeat;
  //   backface-visibility: hidden;
  //   .header-background{
  //     opacity: 0.5;
  //   }
  border-bottom: 5px solid #2f4f4f;
  .header-left {
    @include flexDisplay(
      $direction: column,
      $justify: flex-start,
      $align: flex-start
    );
    width: 70%;
    row-gap: 40px;
    .header-left-content {
      @include flexDisplay($justify: space-between, $align: flex-start);

      column-gap: 10px;
      .header-left-heading {
        // color: #1976d2;
        color: #2f4f4f;
        font-size: 20px;
        width: 100px;
      }
      .points {
        @include flexDisplay($justify: flex-start, $align: flex-start);
        gap: 10px;
        flex-wrap: wrap;
        .point {
          // border-bottom: 3px solid #1976d2;

          @include flexDisplay($direction: column, $justify: flex-start);
          padding: 3px;
          background-color: #2f4f4f;
          color: #fff;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
            rgba(0, 0, 0, 0.24) 0px 1px 2px;
          .position {
            // color: #2f4f4f;
          }
          .organization {
          }
        }
      }
    }
  }
  .header-right {
    text-align: center;
    color: #2f4f4f;
  }
}
@media screen  and (max-width: 900px){
  
}
