.recommends {
  width: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("../../../public/headerBackground4.webp");
  background-size: auto;
  @include flexDisplay();
  // border-bottom: 5px solid #2f4f4f;
  .recommendations-content {
    padding: auto;
    margin: auto;
    width: 80%;
    height: auto;

    @include flexDisplay($justify: flex-start);
    overflow-x: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    column-gap: 5px;

    /* Hide scrollbar for IE, Edge and Firefox */

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .left-btn {
      position: -webkit-sticky;
      position: sticky;
      left: 0;
      top: 40%;
      background: #fff;
      border: none;
      font-size: 32px;
      font-weight: 600;
    }
    .right-btn {
      position: -webkit-sticky;
      position: sticky;
      right: 0;
      top: 40%;
      background: #fff;
      border: none;
      font-size: 32px;
      font-weight: 600;
    }
  }
  .recommendations-content::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .recommends {
    .recommendations-content {
    }
  }
}
